﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="System.Web.Mvc.ViewMasterPage" 
MasterPageFile="~/Views/Shared/Site.Master"  %>

<asp:Content ID="Content5" ContentPlaceHolderID="HeadContent" runat="server">

	<style type="text/css">
        body
        {
            background-color: <%= ViewData["BackgroundColorPrimary"] %>;
        }

        #header h1
        {
            color: <%= ViewData["TextColorPrimary"] %>;
        }

        #header h2
        {
            color: <%= ViewData["TextColorPrimary"] %>;
        }

        #counterlist-container h3
        {
            background-color: <%= ViewData["BackgroundColorSecondary"] %>;
            color: <%= ViewData["TextColorSecondary"] %>;
        }

        .counter-box-normal
        {
            background-color: <%= ViewData["BackgroundColorSecondary"] %>;
        }

        .counter-box .name
        {
            color: <%= ViewData["TextColorSecondary"] %>;
        }
	    
        #totalvalue-container .label-date, #totalvalue-container .label-time, #totalvalue-container .label-value
        {
            color: <%= ViewData["TextColorSecondary"] %>;
            background-color: <%= ViewData["BackgroundColorSecondary"] %>;
        }
	    
        #totalvalue-container .date, #totalvalue-container .time
        {
            color: <%= ViewData["TextColorPrimary"] %>;
        }
        
	    #totalvalue-container .value
        {
            color: <%= ViewData["TextColorPrimary"] %>;
        }	    
        
        #plot-placeholder img
        {
            border-color: <%= ViewData["TextColorPrimary"] %>;
        }        

	</style>    
    <asp:ContentPlaceHolder ID="TotalHeadContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    <asp:ContentPlaceHolder ID="TotalTitleContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="Content7" ContentPlaceHolderID="HeaderRightContent" runat="server">
    <asp:ContentPlaceHolder ID="TotalHeaderRightContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="Content6" ContentPlaceHolderID="UpperMenuContent" runat="server">
    <% if ((int)ViewData["Slide"] == 1)
       { %>
    <% Html.RenderAction("Roller", new { redirect = ViewData["CurrentAction"], currentId = ViewData["CurrentId"] }); %>
    <% } %>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="HeaderContent" runat="server">
    <h1><%= ViewData["RegPointName"] %></h1>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <script type="text/javascript">
        ASKUE.totalPage = {

            counter: 0, // значение счетчика времени до обновления страницы
            //counterText: "Следующий опрос через ",

            init: function () {
                this.counter = ASKUE.refreshInterval - 2; // эмпирическая поправка
            },

            timerHandler: function () {
                // Обновить значение счетчика на экране
                if (this.counter > 0) {
                    $('#counterView').text("Автоматическое обновление через " + this.counter-- + " сек. (либо нажмите F5)");
                }
                else {
                    $('#counterView').text("Обновление данных...");
                }
            }
        };

        $(document).ready(function () {

            ASKUE.totalPage.init();

            setInterval(function () {
                ASKUE.totalPage.timerHandler();
            }, 1000);

        });
    </script>
    
    <% if ((int)ViewData["Slide"] == 1)
       {  %>
    <div id="loading-mask">
        <div id="loading">
<%--            <div class="loading-indicator">
        	
	        <asp:Image ID="imgLoading" runat="server" SkinID="LoadingImage" />
	        <asp:Label ID="lblLogo" runat="server" Text='text'>
	        </asp:Label>
	        <br />
	        <span id="loading-msg"></span>
	        <asp:Label ID="lblLoadingMessage" runat="server" Text='text'>
	        </asp:Label>--%>
        	
	    </div>
    </div>

    <% } %>

    <asp:ContentPlaceHolder ID="TotalMainContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FooterContentRight" runat="server">
    <div id="counterView">
    </div>
    
    <% if (HttpContext.Current.IsDebuggingEnabled)
       { %>
        <span class="debug">(время отрисовки страницы: <%= Html.Encode(ViewData["_ElapsedTime"]) %>&nbsp;sec)</span>
    <% } %>
    <asp:ContentPlaceHolder ID="TotalFooterContentRight" runat="server"></asp:ContentPlaceHolder>

</asp:Content>
