﻿html {
    
    height:100%; /* needed for container min-height */
}

body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

#mainContainer
{
    /*height: 100%;*/
    min-height: 100%;
    
}





h1,h2,h3,h4,h5,h6
{
    margin:0;
    padding:0;
}

table
{
    border-collapse: collapse;
    border-spacing:0;
    
    padding: 0;
}

table tr
{
    
}

table td, table th
{
    border-collapse: collapse;
    padding: 0;
}

#header table
{
    margin-left: auto; 
    margin-right: auto;
}

#header_right
{
    position: absolute;
    left: 0px;
    top: 0px;
}

#title
{
    text-align: center;
}

#footer
{
    clear:both;
	position:absolute;
	bottom:0; 
    overflow: hidden;
    width: 100%;
    text-align: center;   
}


#footer-left
{
    float:left;
    padding-left: 10px;
}

#footer-right
{
    float: right;
    padding-right: 10px;
    /*width: 200px;*/
}

#footer-center
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    /*width: 50%;*/
}

.column-container
{
    overflow: auto;
}

.column-right
{
    float: right;
}

.column-left
{
    float: left;
}


#monitoring-column-container
{
    float:left;
    width:100%; 
    margin-left:-485px;
}

#monitoring-column-right
{
    float:right;
    width: 485px;
}

#monitoring-column-left
{
    margin-left: 485px;
}

#monitoring-menu
{
    margin: 30px auto;
    width: 500px;
    height: 300px;
    text-align: center;
}

#monitoring-plot
{
    padding-left: 5px;
}


#plot-placeholder img
{
    border-width: 1px;
    border-style: solid;
}

#plot-placeholder-invalid img
{
    border-width: 1px;
    border-style: solid;
}

#counterwarnings_container
{
    position: relative;
    padding-left: 3px;
    padding-top: 1px;
}

.counterwarning
{
    position: relative;
    clear: both;
    color: #BD1E1D;
    font-weight: bold;
}

.counterwarning .icon
{
    float: left;
    width: 20px;
    margin-right: 3px;
        
    text-align: center;
    font-weight: bold;
    
    background-color: #BD1E1D;
    color: Yellow;
}

.counterwarning .message
{
    float: left;
}

.counterwarning .name
{
    float: left;
}

#totalvalue-container
{
    
}

#totalvalue-container .label-date, #totalvalue-container .label-time, #totalvalue-container .label-value
{
    margin-top: 5px;
    margin-bottom: 5px;
    /*width: 200px;*/
    height: 30px;
    
    padding-left: 15px;
    padding-top: 10px;
    white-space: nowrap;
}

#totalvalue-container .date, #totalvalue-container .time
{
    height: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    /*width: 200px;*/
    
    text-align: center;
    white-space: nowrap;
}

#totalvalue-container .value
{
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

#counterlist-container
{
    margin-top: 3px;
    text-align: center;
}

.counter-header
{
    
}

.counter-header .name
{
    float: left;
    width: 90px;
    vertical-align: top;
    
    padding: 2px;
}

.counter-header .time
{
    float: left;
    width: 50px;
    padding: 2px;
    vertical-align: top;
}

.counter-header .consumption
{
    float: right;
    width: 75px;
    padding: 2px;
    vertical-align: top;
}

.counter-box
{
    width: 230px;
    height: 20px;
    margin: 2px 2px 2px 2px;
    padding: 2px 3px 3px 3px;
    
    position: relative;
}

.counter-box .name
{
    float: left;
    width: 90px;
    text-align: left;
    height: 20px;
    padding-top: 2px;
    
    
}

.counter-box .time
{
    float: left;
    width: 50px;
    padding: 2px;

    border-width: 1px;
    border-style: solid;    
    
    /*position:absolute; top:50%; height:16px; margin-top:-0.75em;
    margin-left: -30px;*/
}

.counter-box .consumption
{
    float: right;
    padding: 2px;
    text-align: right;
    width: 75px;

    border-width: 1px;
    border-style: solid;
}

.error-list
{
    padding-top: 25px;
}

.error-total
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*padding-top: 25px;*/
}

.errorsign
{
    background-image: url(../images/errorsign3.gif);
    background-repeat: no-repeat;
    background-position: left center;
    width: 33px;
    height: 31px;
}

/*.header_lft
{
    background-image: url(../images/header_lft.gif);
    background-repeat: no-repeat;
    width: 286px;
    background-position: right center;    
}*/


.signtgk
{
    background-image: url(../images/tgk-13_3.gif);
    background-repeat: no-repeat;
    background-position: left center;
    width: 50px;
    height: 47px;
}

td.label_right
{
    background-image: url(../images/roundcorners_right.gif);
    background-repeat: no-repeat;
    width: 13px;
    background-position: left center;
}

td.label_left
{
    background-image: url(../images/roundcorners_left.gif);
    background-repeat: no-repeat;
    width: 13px;
    background-position: right center;
}

.td_lft
{
    background-image: url(../images/roundcorners_lft_gray.gif);
    background-repeat: no-repeat;
    width: 10px;
    background-position: right center;
}

td.small-separator
{
    width: 5px;
}



.shadow
{
	-moz-box-shadow: 2px 2px 4px #203468;
	-webkit-box-shadow: 2px 2px 4px #203468;
	box-shadow: 2px 2px 4px #203468;      
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#203468')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#203468');	
}



/*
*
* FONTS
*
*/
body
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

h1
{
    font-size: 140%;
    font-weight: bold;
}

h2
{
    font-size: 120%;
    font-weight: bold;
}

h3
{
    font-size: 100%;
    font-weight: bold;
}

h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

#footer
{
    font-size: 80%;
}


.counter-header
{
    
}

.counter-header .name
{
    font-size: 90%;
    font-weight: normal;
}

.counter-header .time
{
    font-size: 90%;
    font-weight: normal;
}

.counter-header .consumption
{
    font-size: 90%;
    font-weight: normal;
}

.counter-box
{
    
}

.counter-box .name
{
    font-weight: bold;
}

.counter-box .time
{
    
}

.counter-box .consumption
{
    font-weight: bold;
}

#totalvalue-container .label-date, #totalvalue-container .label-time, #totalvalue-container .label-value
{
    font-size: 120%;
    font-weight: bold;
}

#totalvalue-container .date, #totalvalue-container .time
{
    font-size: 260%;
    font-weight: bold;
}

#totalvalue-container .value
{
    font-size: 600%;
    font-weight: bold;
}

#totalvalue-container .value span
{
    font-size: 50%;
    font-weight: normal;
}

.error-list
{
    font-size: 120%;
    font-weight: bold;  
}

.error-total
{
    font-size: 135%;
    font-weight: bold;  
}

.error-text
{
    text-align: center;
    font-size: 135%;
    font-weight: bold;  
}

/*
*
* COLORS
*
*/

body
{
    background-color: #DAE1F0;
    /*background-color: #E4EFFF;*/
}

#header
{
    /*background-color: #0D4E8C;*/
}

#header h1
{
    color: #0D4E8C;/*#0D4E8C; /* #525256 #C0C0CC*/
}

#header h2
{
    color: #0D4E8C;/*#525256;*/
}

#counterlist-container h3
{
    background-color: #C0C0CC;
    color: #525256;
}

.counter-header
{
    
}

.counter-header .name
{
    
}

.counter-header .time
{
    
}

.counter-header .consumption
{
    
}

.counter-box
{
    
}

.counter-normal
{
    background-color: #C0C0CC;
}

.counter-warning
{
    background-color: #FF6363;
}

.counter-box .name
{
    color: #525256; /*#454545;*/
}

.counter-box .time
{
    background-color: #FFFFFF;
    border-color: #454545;
}

.counter-box .consumption
{
    background-color: #FFFFFF;
    border-color: #454545;
}

#totalvalue-container .label-date, #totalvalue-container .label-time, #totalvalue-container .label-value
{
    color: #525256;
    background-color: #C0C0CC;
}

#totalvalue-container .date, #totalvalue-container .time
{
    color: #0D4E8C;
}

#totalvalue-container .value
{
    color: #0D4E8C;
}

#plot-placeholder img
{
    border-color: #0D4E8C;
}

#plot-placeholder-invalid img
{
    border-color: Red;
}

.debug
{
    background-color: #C45C80;
    color: White;
}

.error-total span
{
    color: #BD1E1D;
}

.error-text
{
    color: #BD1E1D;
}

/* LOADING MASK
///////////////////////////////////////*/

.logo_image
{
	width: 128px;
	border: 0px;
    height: 44px;
    padding-left: 8px;
}

#loading-mask, #loading-mask-modal{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color: #C0C0CC;
}
            
#loading, #loading-modal{
    position:absolute;
    left:45%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
            
#loading .loading-indicator, #loading-modal .loading-indicator{
    background:white;
    color:#444;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    height:auto;
}

.loading_image
{
	margin-right:8px;
	float:left;
	vertical-align:top;
}

/*
/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
*/



/*
/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
*/

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	/*overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 0 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	/*background:white;		/* right column background colour */
}
.leftmenu .colleft {
	right: 48%;			/* right column width */
	background:red;	/* left column background colour */
}
.leftmenu .col1 {
	width:48%;			/* right column content width */
	left:100%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:52%;			/* left column content width (column width minus left and right padding) */
	left:0%;			/* (right column left and right padding) plus (left column left padding) */
}